.histogram {
    background: var(--white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 24px 24px 24px ;
  
}

.histogram__title {
    color: var(--black);
    opacity: 0.8;
    display: flex;
    justify-content: space-between;

}

.histogram__orders-quantity {
    font-size: 20px;
    line-height: 26px;
}

.histogram__link {
    text-decoration: none;
}

.histogram__chart {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: flex-end;
    margin: 39px 26px 24px 26px;
    gap: 1px;
}

.histogram__chart-item {
     flex: 1;
     background-color: var(--blue-2);
}

